@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 210 40% 98%; /* slate-50 */
        --foreground: 228.60000000000002 84% 4.9%; /* slate-900 */

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 243.79999999999995 47.1% 20%; /* indigo-900 */
        --primary-foreground: 225.89999999999998 100% 96.7%; /* indigo-50 */

        --secondary: 225.89999999999998 100% 96.7%;
        /* hsl(225.89999999999998, 100%, 96.7%) */
        --secondary-foreground: 0 0% 9%;

        --muted: 210 40% 98%;
        --muted-foreground: 218 11% 65%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 215.4 16.3% 46.9%;
        --destructive: 349.70000000000005 89.2% 60.2%;
        --destructive-foreground: 355.70000000000005 100% 97.3%;

        --border: 214.3 31.8% 91.4%;
        --input: 226.5 100% 93.9%;
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;

        --info: 187.89999999999998 85.7% 53.3%; /* cyan-400 */
        --info-background: 183.20000000000005 100% 96.3%;
        /* cyan-50 hsl(183.20000000000005, 100%, 96.3%)*/
        --info-foreground: 192.89999999999998 82.3% 31%;
        /* cyan-700 hsl(192.89999999999998, 82.3%, 31%)*/

        --success: 160 84.1% 39.4%;
        /* emerald-500 */
        /* hsl(160.10000000000002, 84.1%, 39.4%) */
        --success-background: 151.8 81% 95.9%;
        /* emeral-50 hsl(151.8, 81%, 95.9%) */
        --success-foreground: 162.89999999999998 93.5% 24.3%;
        /* emerald-700 hsl(162.89999999999998, 93.5%, 24.3%) */

        /* Success-> teal-500 hsl(173.39999999999998, 80.4%, 40%) */
        /* Warning-> amber-500 hsl(42.79999999999999, 100%, 50%) */
        /* Error-> rose-500 hsl(348.79999999999995, 83.1%, 47.1%) */
        /* Info-> cyan-400 hsl(187.89999999999998, 85.7%, 53.3%) */
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }
}

@layer base {
    * {
        @apply border-border;
        /* TODO: Check this preset with Comeau */
        @apply select-none;
    }
    body {
        @apply bg-gray-50 text-foreground;
    }

    /* Spacing system classes */
    .gap {
        @apply gap-24 sm:gap-24 md:gap-48;
    }

    /* #headway { */
    /* position: absolute !important; */
    /* background: #5ab987 !important; */
    /* } */

    .slideStyles strong {
        color: var(--bold-color);
        font-weight: 700;
    }
}
